body{
    background-color: #5b5b5b;
    margin: 0px;
    padding: 0px;

}
#wrap{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    width: 93%;
    margin-top: 20px;
    display: flex;
    background-color: #282828;
    border:  3px solid #c7c7c7;
    border-radius: 15px;
    padding: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    gap: 20px;
    min-height:400px;
    position: relative;

}
.img{
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color:white;
    border-radius: 15px;
    border: 2px solid #c7c7c7;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    &:hover{
        transform: scale(1.05);
    }
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content{
    background-color: #282828;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    height:800px;
    width: 800px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;

    & img{
        width: 90%;
        height: 90%;
        margin-top: 20px;
        object-fit: cover;
        border-radius: 15px;
    }
    & .title{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    & .alt{
        font-size: 18px;
        margin-bottom: 20px;
    }
    & .close{
        position: absolute;
        top: 10px;
        right: 10px;

        color: black;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 900;
        &:hover{
            background-color: #a7a7a7;
        }
    }
}
.arrow-l {
  left: -40px;
}
.arrow-l::before {
  transform: rotate(-45deg);
}
.arrow-r {
  right: -40px;
}
.arrow-r::before {

  transform: rotate(135deg);
}
.arrow{
    position: absolute;
    width: 40px;
    height: 40px;
}
.arrow::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-top: 3px solid rgb(255, 255, 255);
  border-left: 3px solid rgb(255, 255, 255);

}