@font-face{
    font-family: "Roboto";
    src:url('../fonts/Roboto.ttf');
}
body{
    background-color: #5b5b5b;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}
#wrap{
    width: 100%;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
#works{
    width: 90%;
    height:90%;
    display: flex;
    background-color: #282828;
    border:  3px solid #c7c7c7;
    border-radius: 15px;
    padding: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    gap: 20px;
    min-height:400px;
    position: relative;
    padding-top: 60px;
}
#searchPriority{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #5e5e5e;
    color: white;
    font-size: 16px;
}
.work{
    width: 250px;
    height: 170px;
    background-color: #5e5e5e;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    & a{
        width: 80%;
        height: 60px;
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255);
        user-select: none;
    }
    & a:visited{
        color: rgb(255, 255, 255);
    }
    border-radius: 10px;
}
.task{
    background-color: #5b5b5b;
    width: 200px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color:white;
}
.button{
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
}
.delete{
    background-image: url(../img/delete.svg);
    top: 10px;
    left: 10px;
}
.complete{
    background-image: url(../img/complete.svg);
    top: 10px;
    right: 10px;
}
#addTask{
    width: 250px;
    height: 70px;
    background-color: #18632b;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: 600;
    font-size: 20px;
}
.addTaskModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    & .addTaskContent{
        width: 400px;
        height: 300px;
        background-color: #282828;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
}
.search{
    position: absolute;
    top: 20px;
    right: 130px;
    padding: 5px 10px;
    background-color: #5e5e5e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}